<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anonym.module.roleprivilege.RolePrivilegeDao">

    <resultMap id="RolePrivilegeEntity"
               type="com.anonym.module.roleprivilege.domain.RolePrivilegeEntity"></resultMap>

    <resultMap id="PrivilegeEntity"
               type="com.anonym.module.privilege.domain.PrivilegeEntity"></resultMap>

    <sql id="baseSql">
        rp.id,
        rp.role_id,
        rp.privilege_id,
        rp.update_time,
        rp.create_time
    </sql>


    <delete id="deleteByRoleId">
        DELETE FROM t_role_privilege
        WHERE role_id = #{roleId}
    </delete>

    <delete id="deleteByPrivilegeIds">
        DELETE FROM t_role_privilege
        WHERE privilege_id in
        <foreach collection="privilegeIds" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </delete>


    <insert id="batchInsert" useGeneratedKeys="true" keyProperty="id" parameterType="java.util.List">
        INSERT INTO t_role_privilege (role_id, privilege_id, update_time, create_time) VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.roleId},
            #{item.privilegeId},
            now(),
            now()
            )
        </foreach>
    </insert>


    <select id="listByRoleIds" resultMap="PrivilegeEntity">
        SELECT p.*
        FROM
        t_privilege p
        left JOIN t_role_privilege rp on p.id = rp.privilege_id
        WHERE
        rp.role_id IN
        <foreach collection="roleIds" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
        AND p.is_enable = #{normalStatus}
        AND p.is_show = #{normalStatus}
        order by rp.create_time desc
    </select>

    <select id="listByRoleId" resultMap="PrivilegeEntity">
        SELECT p.*
        FROM
        t_privilege p
        left JOIN t_role_privilege rp on p.id = rp.privilege_id
        WHERE
        rp.role_id = #{roleId}

    </select>


</mapper>