<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anonym.module.fuseuser.fuse.domian.FaceFuseDao">


    <select id="queryByPage" resultType="com.anonym.module.fuseuser.fuse.domian.FaceFuseVO">
        SELECT
        tff.face_fuse_id,
        tff.face_fuse_user_id,
        tff.merge_image,
        tff.update_time,
        tff.create_time,
        tzu.name as userName
        FROM
        t_face_fuse tff
        LEFT JOIN t_zte_user tzu ON tff.face_fuse_user_id = tzu.zte_user_id
        <where>
            <if test="queryDTO.Keyword != null and queryDTO.Keyword != ''">
                AND (INSTR(tff.face_fuse_user_id,#{queryDTO.keyword}) or
                INSTR(tzu.name,#{queryDTO.keyword}))
            </if>
        </where>
        order by create_time desc
    </select>

    <delete id="batchUpdateDelete">
        delete from t_face_fuse where face_fuse_id in
        <foreach collection="idList" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </delete>


</mapper>