<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anonym.module.employee.EmployeeDao">

    <resultMap id="EmployeeDTO" type="com.anonym.module.employee.domain.EmployeeDTO"></resultMap>

    <sql id="baseSql">
        e.id,
        e.login_name,
        e.login_pwd,
        e.actual_name,
        e.phone,
        e.id_card,
        e.birthday,
        e.email,
        e.department_id,
        e.is_leave,
        e.is_disabled,
        e.remark,
        e.update_time,
        e.create_time,
        e.position_id,
        e.oa_number,
        e.entry_date,
        e.erp_number
    </sql>


    <select id="login" resultMap="EmployeeDTO">
        SELECT
        <include refid="baseSql"></include>
        FROM
        t_employee e
        WHERE
        e.login_name = #{loginName} and e.login_pwd = #{loginPwd}
    </select>


</mapper>